@font-face {
    font-family: 'Celias';
    src: url('../fonts/celias-font-family/celiashairline.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('../fonts/celias-font-family/celiasthin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('../fonts/celias-font-family/celiaslight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('../fonts/celias-font-family/celias.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('../fonts/celias-font-family/celiasmedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('../fonts/celias-font-family/celiasbold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('../fonts/celias-font-family/celiasblack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('../fonts/celias-font-family/celiasthinitalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('../fonts/celias-font-family/celiaslightitalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('../fonts/celias-font-family/celiasregularitalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('../fonts/celias-font-family/celiasmediumitalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('../fonts/celias-font-family/celiasbolditalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Celias';
    src: url('../fonts/celias-font-family/celiasblackitalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

html,
body,
body,
input,
button,
textarea,
select,
option,
optgroup {
    font-family: 'Celias', sans-serif !important;
}

[class*=swiper-button] {
    filter: brightness(0);
}

.heroSwiper,
.heroSwiper .swiper-wrapper,
.heroSwiper .swiper-slide {
    height: 100%;
}

.hero-slide-video {
    display: block;
    background: #000;
    z-index: 0;
}

.heroSwiper .swiper-slide>.relative>.relative {
    pointer-events: none;
}

footer .container {
    max-width: 1200px;
}

footer a {
    overflow-wrap: anywhere;
}

.standads_wrr img {
    height: 80px;
    filter: grayscale(1);
    transition: 0.3s;
}

.standads_wrr img:hover {
    filter: grayscale(0);
}

/* Career submit button */
#wpforms-submit-1441 {
    display: none;
}

form#wpforms-form-1441 label:not(.wpforms-error) {
    font-weight: 400;
}

form#wpforms-form-1441 input,
form#wpforms-form-1441 textarea {
    outline: none;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
    margin-top: 5px;
    padding: 5px 8px;
}

#wpforms-form-1441 .wpforms-field:not(.wpforms-field-textarea):not(.wpforms-field-file-upload) {
    width: 50%;
    padding: 0 5px;
    margin-bottom: 8px;
}

#wpforms-form-1441 .wpforms-field-textarea,
#wpforms-form-1441 .wpforms-field-file-upload {
    width: 100%;
    padding: 0 5px;
    margin-bottom: 8px;
}

#wpforms-form-1441 .wpforms-field-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
}

#wpforms-confirmation-1441 p {
    color: #fff;
}

.career-jds {
    padding-left: 1rem;
}

.career-jds li {
    position: relative;
    margin-bottom: 8px;
}

.career-jds li::before {
    content: '';
    position: absolute;
    top: 12px;
    left: -12px;
    width: 5px;
    height: 5px;
    background-color: #F78D1E;
    border-radius: 50%;
}

#wpforms-1441-field_4::-webkit-outer-spin-button,
#wpforms-1441-field_4::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.investors-tab-navigation {
    border-radius: 50px;
    padding: 5px;
    border: 1px solid #747474;
}

.investors-tab-navigation .investors-tab-btn {
    color: #fff;
    background-color: #262626;
    border-radius: 50px;
    padding: 8px 14px;
}

.investors-tab-navigation .investors-tab-btn.active {
    background-color: #F78D1E;
    color: #000;
}